footer
   .footer-container
      .footer-section
         h3 About Us
         | &#x9;&#x9;&#x9;&#x9;&#x9;
         p
         | We provide reliable life insurance plans to protect your family and secure
         | your future. Your peace of mind is our top priority.
      | &#x9;&#x9;&#x9;&#x9;
      .footer-section
         h3 Quick Links
         | &#x9;&#x9;&#x9;&#x9;&#x9;
         a(href='#') Home
         | &#x9;&#x9;&#x9;&#x9;&#x9;
         a(href='#') About
         | &#x9;&#x9;&#x9;&#x9;&#x9;
         a(href='#') Services
         | &#x9;&#x9;&#x9;&#x9;&#x9;
         a(href='#') Get a Quote
      | &#x9;&#x9;&#x9;&#x9;
      .footer-section
         h3 Contact Information
         | &#x9;&#x9;&#x9;&#x9;&#x9;
         p Email: support@lifeinsurance.com
         | &#x9;&#x9;&#x9;&#x9;&#x9;
         p Phone: (123) 456-7890
         | &#x9;&#x9;&#x9;&#x9;&#x9;
         p Address: 1234 Insurance St, City, State
      | &#x9;&#x9;&#x9;&#x9;
      .footer-section.social-links
         h3 Follow Us
         | &#x9;&#x9;&#x9;&#x9;&#x9;
         a(href='#', target='_blank') Facebook
         | &#x9;&#x9;&#x9;&#x9;&#x9;
         a(href='#', target='_blank') Twitter
         | &#x9;&#x9;&#x9;&#x9;&#x9;
         a(href='#', target='_blank') Instagram
         | &#x9;&#x9;&#x9;&#x9;&#x9;
         a(href='#', target='_blank') LinkedIn
   | &#x9;&#x9;&#x9;
   .footer-bottom
      p &copy; 2025 Life Insurance Company | All Rights Reserved