.container-fluid.nav-bar
   .nav-items.active
      a(href='#') services
   .nav-items.active
      a(href='#') about
   .nav-items.active
      a(href='#') stats
   .nav-items.active
      a(href='#') appointments
   .ham.bars.active
      i.fa-solid.fa-bars

.menu-bar
   ul
      li.menu-items
         a(href='#') services
      li.menu-items
         a(href='#') about
      li.menu-items
         a(href='#') stats
      li.menu-items
         a(href='#') appointments

.main-pic
   img(src='img/istockphoto-1460965686-612x612.jpg', alt='', srcset='')
